body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 20px;
}
.container {
    background-color: #cad61bcb;
    padding: 0px;
    border-radius: 15px;
    max-width: 350px;
    margin: auto;
}
p {
    font-size: 18px;
    color: #333;
    line-height: 1.6;
    padding: auto;
    max-width: 550px;
    margin: auto;

}
h1 {
    text-align: center;
    color: #444;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;

}

.mensaje
{
    margin-top: 20px;
    font-size: 20px;
    color: #00050a;
    text-align: center;
}
label {
    font-size: 18px;
    margin: auto;
    display: block;
    width: 50%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 15px;
    text-align: center;
    
}
input[type="number"] {
    width: 28%;
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
}
button {
    font-size: 16px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
button:hover {
    background-color: #bed45c;
}
.edad {
    width: 50%;
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
}
.titulo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;

}